/*Inkriti SJU Style Extensions*/

div {
	/*border: thin red solid;*/
}

.grid-content{
	padding: 15px 20px 0 20px;
	width: 94%;
	margin: 15px;
}

.cover {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5000;
	overflow: hidden;
}

.close {
	background: url(../img/global/icons.png) 0 -22px no-repeat;
	cursor: pointer;
	height: 22px;
	position: absolute;
	right: 20px;
	top: 48px;
	width: 22px;
	z-index: 20;
}

.close-vid{
	position: absolute;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	display: none;
}

.play-btn{
	line-height: 60px;
}

.lock-nav{
	bottom: auto !important;
	position:fixed !important;
	top:0 !important;
	width: 101.5% !important;
}