/*Inkriti SJU Style Extensions*/

div {
	/*border: thin red solid;*/
}

.grid-content{
	padding: 15px 20px 0 20px;
	width: 94%;
	margin: 15px;
}

.cover {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5000;
	overflow: hidden;
}

.close {
	background: url(../img/global/icons.png) 0 -22px no-repeat;
	cursor: pointer;
	height: 22px;
	position: absolute;
	right: 20px;
	top: 48px;
	width: 22px;
	z-index: 20;
}

.close-vid{
	position: absolute;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	display: none;
}

.play-btn{
	line-height: 60px;
}

.lock-nav{
	bottom: auto !important;
	position:fixed !important;
	top:0 !important;
	width: 101.5% !important;
}


#close-video{
	right: -15px;
}

.text-slider{
	text-align: left;
}

.video-descp p{
	line-height: 28px;
}

.video-descp{
	height: 240px;
}

.text-slider{
	margin-left: -40px;
}

.magis-btn{
	width: 330px;
	margin-top: -30px;
	left: 44%;
}

.magis-btn:hover{
	background-color: #fff;
}

.magis-cta{
	height: 350px;
}

.magis-row{
	background-image: url('../img/live-magis-bg.jpg');
	background-repeat: no-repeat;
	background-position: center -70px;
}

.map{
	margin-top: 0px;
}

.inner-page-domino{
	background-color: #fff;
	display: none;
}

.inner-sidebar{
	display: none;
}

.col-md-3{
	/*height: auto !important;*/
}

section, body, .container-fluid, .row{
	/*min-width: 640px !important;*/
}



/***********MEDIA QUERIES**********/
@media (max-width: 1440px) {
	.txt-block p{
		font-size: 22px ;
	}

	.txt-block h2{
		font-size: 58px;
	}
}

@media (max-width: 1280px) {
	.txt-block p{
		font-size: 18px ;
	}
	.txt-block h2{
		font-size: 46px;
	}

@media (max-width: 992px) {
	.txt-block p{
		font-size: 18px ;
		/*color: #fff;*/
	}
	.txt-block h2{
		font-size: 46px;
	}

	@media (device-width: 360px) {
		div{
			border: thin red solid;
		}
	}

	


	@media (max-width: 768px) {
		section, body, .container-fluid{
			/*min-width: 768px !important;*/
			width: 768px !important;
		}

		

		.sb-close{
			cursor: pointer;
		}

		.row{
			margin-left: -20px;
			/*padding: 0;*/
			width: 102%;
		}

		.inner-sidebar{
			/*position: relative;*/
			z-index: 1000;
		}

		.sb-toggle-right, .inner-page-domino{
			display: block;
		}

		#scroll-nav{
			display: none;
		}

		.logo.video-page{
			display: none;
		}

		.inner-logo{
			position: relative;
			top: -10px;
		}

		.hero-img{
			height: 570px;
		}

		.video-descp{
			top: -243px !important;
		}

		.hero-container{
			height: 671px;
		}

		#video-blocks .col-md-3, #video-blocks .col-md-6, .text-block-redBg{
			height: auto !important;
		}

		#videoWrap .hero-img{
			height: auto !important;
		}

		.video-descp p{
			padding-left: 20px;
		}

		.play-btn {
			margin-top: -100px;
		}

		#videoWrap {
			height: 660px !important;
		}
	}
}



@media (max-width: 640px) {
	section, body, .container-fluid{
		min-width: 640px !important;
		width: 640px !important;
	}

	
	.play-btn {
		line-height: 60px;
		top: 360px !important;
		margin-top: -100px;
	}

	.hero-container{
			height: 617px;
		}

		.hero-img{
			height: auto !important;
		}

		#videoWrap{
			height: 590px !important;
		}

		.video-descp {
			top: -260px !important;
		}

		.hero-container{
			width: 102%;
		}

		.video-descp {
			top: -253px !important;
			width: 102% !important;
			padding: 10px;
		}

		#video-blocks .col-md-3, #video-blocks .col-md-6, .text-block-redBg{
			height: auto !important;
		}


}

